body{
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}


#input{
    width: 250px;
    height: 20px;
    border: 3px solid red;
    border-radius: 6px;
    padding: 2px 10px;
    margin: 10px;
    font-size: 15px;
}

#add-button{
      font-size: 15px;
      background-color: rgb(13, 226, 38);
      color: white;
      cursor: pointer;
      border: 3px solid rgb(12, 228, 62);

}

#tasklist div{
    margin-top: 20px;
}

#tasklist button {
    margin-left: 10px;
    padding: 5px 5px;
    background-color: rgb(230, 111, 20);
    color: white;
    border: none;
}

#tasklist button:hover{
    background-color: rgb(219, 187, 7);
}