body{
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#input{
    width: 250px;
    height: 20px;
    border: 3px solid red;
    border-radius: 6px;
    padding: 2px 10px;
    margin: 10px;
    font-size: 15px;
}

#add-button{
      font-size: 15px;
      background-color: deepskyblue;
      color: white;
      cursor: pointer;
      border: 3px solid rgb(32, 82, 209);

}

#tasklist button:hover{
    background-color: rgb(219, 187, 7);
}